.ui.card.subsciption {
    margin: 0 auto;
    width: 100%;
    height: 550px;
     position: relative; 
     /* top: -40px;  */
}
.ui.form.subsciption{
    width: 70%;
    margin: 0 auto;
    position: inherit;
    top: 0px;
    
}

.container.subsciption {
    margin: 0 auto;
    width: 50%;
    height: auto;
}
.addbtn {
    width: 70%;
    margin: 0 auto;
    position: inherit;
    top: 25px;
}
 .addbtn button{
    width: 100%;
    /* margin-top: 5px; */
    background-color: rgb(32, 214, 32);
    color: #fff;
    
}
.addbtn .ui.button{
    width: 150px;
    font-size: 15px;
}
.form-name {
   display: flex;
}
.form-name i{
    position: relative;
    left: 63%;
    top: 55px;
    z-index: 999;
    border-radius: 2px;
 }

.form-name h3 {
    background-color: rgb(32, 214, 32);
    color: #fff;
    width: 10%;
    height: 7%;
    padding: 7px 10px;
    color: #fff;
    position: relative;
    left: 22%;
    top: 35px;
    z-index: 999;
    border-radius: 2px;
}
.form-details {
    height: auto;
}
.form-details .p-one {
    color: #8F8F8F;
    /* line-height: 10px; */
    display: flex;
    justify-content: space-between;
}
.form-details p:last-child{
    color: #8F8F8F;
    /* line-height: 10px; */
    /* margin-top: 5px; */
}
.form-drop{
    display: flex;
}
.form-drop .field{
    padding-left: 30px;

}
.form-drop-last .field{
    padding-left: 30px;

}

.form-drop label{
    padding-top: 5px;
    color: #8F8F8F;
}
.form-drop-last {
    padding-top: 5px;
    display: flex;
    color: #8F8F8F;

}
.subtable {
    display: flex;
    width: 100%;
    position: inherit;
    top: 37px;
    /* margin-top: 2%; */
}
.ui.celled.table{
    width: 70%;
    margin-left: 15%;
    /* margin-left: 15%; */
}
.sidebtn{
    padding-top: 47px;
}
.sidebtn .btn{
    padding-top: 5px;
}

.btn .ui.button{
    width: 120px;
    font-size: 13px;
}

.sidebtn button{
    display: inline;
    /* padding-top: 50px; */
    background-color: rgb(32, 214, 32);
    color: #fff;
    

}
.total-amount {
    position: inherit;
    top: 40px;
    left: -20%;
}


.ui.button{
    background-color: rgb(32, 214, 32);
    color: #fff;

}
.proceed-btn {
    width: 70%;
    margin-left: 0%;
    position: inherit;
    top: 40px;
}
.proceed-btn button{
    width: 100%;
    margin-top: 5px;
    background-color: rgb(32, 214, 32);
    color: #fff;
    
}
.proceed-btn .ui.button{
    width: 150px;
    font-size: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: scroll;
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 70%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }



  @media only screen and (max-width: 880px) {
    .container.subsciption {
        margin: 0 auto;
        width: 60%;
        height: auto;
    }
    .form-name h3 {
        background-color: rgb(32, 214, 32);
        color: #fff;
        width: 30%;
        height: 7%;
        padding: 7px 10px;
        color: #fff;
        position: relative;
        left: 10%;
        top: 35px;
        z-index: 999;
        border-radius: 2px;
    }
    .form-name i{
        position: relative;
        left: 43%;
        top: 55px;
        z-index: 999;
        border-radius: 2px;
     }
    
  }

  @media only screen and (max-width: 400px) {
    .container.subsciption {
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
  }