.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 200px;
  height: 170px;
  border-radius: 5px;
  padding: 10px 5px 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .4);
  margin: 20px 30px;
  text-align: center;
}


.icon img {
    height: 30px;
}

.details h1{
    font-size: 23px;
    margin-top: 5px;
}

.details p{
    font-size: 15px;
    max-width: 100px;
    justify-content: left;
    margin: 10px 0px;
    color: rgb(32, 214, 32);
    min-width: 200px;
}

.button {
    width: 100%;
}

.button button {
    color: white;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(32, 214, 32);
    border: none;
}

@media only screen and (max-width: 994px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 170px ;
        height: 170px;
        border-radius: 5px;
        padding: 10px 5px 5px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .4);
        margin: 20px 30px;
        text-align: center;
      }
}

@media only screen and (min-width: 838px) {
    .card.body{
        width: 163px ;
      }
}






@media only screen and (max-width: 830px) {
    .card{
        
      }
}

@media only screen and (max-width: 600px) {
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 80%;
        height: 170px;
        border-radius: 5px;
        padding: 10px 5px 5px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .4);
        margin: 10% auto;
        text-align: center;
      }
}



