.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 200px;
  height: 170px;
  border-radius: 5px;
  padding: 10px 5px 5px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .4);
  margin: 20px 30px;
  text-align: center;
}

.icon img {
    height: 30px;
}

.details h1{
    font-size: 23px;
    margin-top: 5px;
}

.details p{
    font-size: 15px;
    max-width: 100px;
    justify-content: left;
    margin: 10px 0px;
    color: rgb(32, 214, 32);
    min-width: 200px;
}

.button {
    width: 100%;
}

.button button {
    color: white;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(32, 214, 32);
    border: none;
}