.ui.segment.table {
    background: inherit;
    width: 100%;
    margin: 5% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 10vh;
    position: relative;
    top: -4vh;
}

.table-name .table-content h3 {
    background-color: rgb(32, 214, 32);
    width: 30%;
    height: 30px;
    padding: 5px 47px;
    color: #fff;
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 999;
    border-radius: 2px;
}

.table-card {
    background: #fff;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 30px;
}

.table-content {
    text-align: center;
    /* margin: 0 auto; */
    /* width: 90%; */
    
}
.table-content h4{
    padding: 2%;
}

/* ---end of header styling */



.ui.card.enrolment {
    height: auto !important;
    width: 90%;
    margin: 5% auto;
}

.card-container {
    display: flex;
    /* margin: 0 auto; */
    width: 95%;
}
.card-container .card-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 7px;
}

.card-container .details {
    margin-top: 20px;
}

.card-container .details p {
    width: 100%;
    cursor: pointer;
    /* margin: 0 auto; */
    color: #000;
    font-size: 12px;
    text-align: left;
    /* line-height: 12px; */
    margin-left: 20px;
    /* margin-top: 5px; */
}
.scroll {
    height: 90vh;
    overflow: scroll;
    
}
.ui.card.header {
    width: 290px !important;
    margin-left: 5px;
}
.ui.card:first-child{
    margin-top: 10px;
}

.ui.segment.details img{
    width: 30%;
    height: 40%;
}

.ui.segment.details {
    background: inherit;
    width: 100%;
    margin: 5% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    position: relative;
    top: -4vh;
}

.ui.segment.details p{
    color: #000;
    width: 100%;
}
.accredit-btn button{
    width: 25%;   
    margin-left: 5%;   
    margin-top: 10px;
}


.accredit-list {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
}
.accredit button {
    width: 40%;
    margin-left: 20px;
}
.accredit {
    height: 105vh;
    background: inherit;
    width: 100%;
    margin: 0 auto;
}


