.container.enrolment {
    margin: 13% auto;
    width: 40%;
    height: auto;
}
.card.enrolment {
    background: #fff;
    height: 45vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
    height: 50px;
    border-bottom: 1px solid #8F8F8F;
    display: flex;
    width: 100%;
    padding-left: 2%;
    justify-content: space-around;
}
.card-header p {
    font-size: 20px;
    color: #8F8F8F;
    margin-top: 10px;
    text-align: right;
}
.card-header img{
    width: 40px;
    height: 47px;
    padding-top: 2%;
    opacity: .40;
    position: relative;
    /* left: 40%; */

    
}
.card-detail p {
    text-align: center;
    width: 55%;
    margin: 10% auto;
    color: #8F8F8F;
}
.ui.button {
    background-color: rgb(32, 214, 32);
    color: #fff;
    padding: 5px 40px;
    font-size: 20px;
    /* position: relative; */
    /* top: 12%; */
    /* left: 38%; */
    font-weight: 400;
    width: 30%;
    text-align: center;
}

