.container.enrolment {
    margin: 13% auto;
    width: 40%;
    height: 50vh;
}
.card.enrolment {
    background: #fff;
    height: 45vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
    /* height: 20%; */
    border-bottom: 1px solid #8F8F8F;
    display: flex;
    width: 100%;
    /* padding-left: 2%; */
    justify-content: space-between;
}
.card-header p {
    font-size: 20px;
    color: #8F8F8F;
    margin-top: 10px;
    text-align: left;
}
.card-header img{
    width: 43px;
    height: 47px;
    /* margin: 2%; */
    opacity: .40;
    position: relative;
    /* left: 40%; */

    
}
.card-detail p {
    text-align: center;
    width: 95%;
    margin: 10% auto;
    color: #8F8F8F;
}
.ui.button {
    background-color: rgb(32, 214, 32);
    color: #fff;
    padding: 5px 40px;
    font-size: 18px;
    /* position: relative; */
    /* top: 12%; */
    /* left: 38%; */
    font-weight: 400;
    width: 50%;
    
}


@media only screen and (max-width: 700px) {
    .container.enrolment {
        margin: 10% auto;
        width: 50%;
        height: auto;
    }
}

@media only screen and (max-width: 515px) {
    .container.enrolment {
        margin: 10% auto;
        width: 60%;
        height: auto;
    }
    .card.enrolment {
        background: #fff;
        height: 55vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

