.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 37vh; */
    margin-top: 10px;
    text-align: center;
    /* background-color: rgba(93, 97, 50, 1); */

}
.body-text {
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-text h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;;
    /* text-align: center; */
    color: rgb(32, 214, 32);
    width: 85%;
    margin-top: -5;
    /* border: 2px solid red; */
}
.body-text p{
    /* font-weight: 500; */
    text-align: center;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 60%;
    /* border: 2px solid red; */
}
.body-text button{
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
    color: white;
    background-color: rgb(32, 214, 32);
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-weight: 400;
    font-size: 15px;
}
.body-image{
    width: 40%;
}

.body-image img {
    width: 100%;
    height: 22rem;
}



@media only screen and (max-width: 840px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .container.body {
        display: inline;
    
    }

    .body-text {
        /* border: 2px solid red; */
        width: 100%;
        margin-top: 40px;
        
    }
    .body-text h1{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;;
        text-align: left;
        color: rgb(32, 214, 32);
        width: 90%;
        /* margin-top: -5; */
        /* border: 2px solid red; */
    }
    .body-text p{
        /* margin-top: 2px; */
        padding-bottom: 10px;
        font-size: 16px;
        width: 90%;
        text-align: left;
    }
    .body-text button{
        height: 35px;
        margin-top: 10px;
        cursor: pointer;
        width: 200px;
        color: white;
        background-color: rgb(32, 214, 32);
        border: none;
        border-radius: 5px;
        padding: 10px 50px;
        font-weight: 400;
        font-size: 15px;
        display: none;
    }
    .body-image img {
        width: 100%;
        height: 19rem;
        
    }
  }
  @media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }