.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 37vh; */
    margin-top: 10px;
    /* background-color: rgba(93, 97, 50, 1); */

}
.body-text {
    /* border: 2px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-text h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;;
    /* text-align: center; */
    color: rgb(32, 214, 32);
    width: 85%;
    margin-top: -5;
    /* border: 2px solid red; */
}
.body-text p{
    /* font-weight: 500; */
    text-align: center;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 60%;
    /* border: 2px solid red; */
}
.body-text button{
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
    color: white;
    background-color: rgb(32, 214, 32);
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-weight: 400;
    font-size: 15px;
}
.body-image{
    width: 40%;
}

.body-image img {
    width: 100%;
    height: 22rem;
}