* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 60vh;
}
.body-text {
    width: 50%;    
    /* transform: translate(-50%, -50%); */
    padding-top: 10%;
}
.body-text h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;;
    text-align: center;
    color: #3CBC51;
    width: 85%;
    padding-left: 10%;
    /* width: 80%; */
}
.body-text p{
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin-top: 15px;
    width: 80%;
    padding-left: 12%;

}
.body-text a{
    background-color: #3CBC51;
    color: #fff;
    padding: 10px 50px;
    font-size: 13px;
    text-decoration: none;
    position: relative;
    top: 15%;
    left: 40%;
    font-weight: 400;
    
}
.body-image{
    width: 50%;

}

.body-image img {
    width: 100%;
    height: 60vh;
}