.card {
    background: #fff;
    width: 90%;
    margin: 5% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    display: flex;
    margin: 0 auto;
    width: 95%;
}
.card-container .card-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

 .card-container p {
    width: 90%;
    cursor: pointer;
    margin: 0 auto;

}
.scroll {
    height: 82vh;
    overflow: scroll;
    
}
.ui.card {
    width: 290px !important;
    margin-left: 5px;
}
.ui.card:first-child{
    margin-top: 10px;
}
.four.wide.column{
    position: relative;
    top: 19px;
}
.content h4{
    padding: 5px;
}
.table-name .content h3 {
    background-color: #3CBC51;
    width: 30%;
    height: 30px;
    padding: 5px 47px;
    color: #fff;
    position: relative;
    left: 20px;
    z-index: 999;
    border-radius: 2px;
}
.ui.segment.table {
    position: relative;
    top: -28px;  
    height: 10vh;
}
.ui.segment.details img{
    width: 30%;
    height: 40%;
}
.enrol-btn button{
    width: 30%;   
}
.enrol-btn button:last-child{
    margin-left: 10%;   
}
.enrol-list button{
    position: relative;
    left: 60%;
    width: 40%;
}

