.sidemenu{
    background-color: rgb(32, 214, 32) ;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 0 auto;
}


.menu-list{
    padding-top: 30%;
    padding-bottom: 30%;
    
}

.sidemenu h3{
    font-weight: 400;
    line-height: 60px;
}
.sidemenu li{
    list-style: none;
    line-height: 40px;
}
.sidemenu li:hover{
    color: yellow;
    background-color: rgba(43, 58, 56, .2);
    text-align: center;
}