*{
  padding: 0;
  margin: 0;
}

.App {
  /* text-align: center; */
  /* overflow: hidden; */
  /* height: auto; */
  /* position: relative; */
}

h2{
  margin-top: -5px;
}

.line-chart {
  width: 100%;
  display: flex;
  border: 2px solid red;
  /* justify-content: space-between; */
  
}

.content {
  width: 70%;
  display: flex;
  border: 2px solid green;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: inline;
    justify-content: center;
  }
}

 @media only screen and (max-width: 904px) {
  .cards{
      display: flex;
      flex-wrap: wrap;
    }
} 
