*{
  padding: 0;
  margin: 0;
}

.App {
  /* text-align: center; */
  /* overflow: hidden; */
  /* height: auto; */
  /* position: relative; */
}

h2{
  margin-top: -5px;
}

.heading h1{
  color: #6e6969;
  font-weight: 1000;
  font-size: 50px;
  margin: 10px;
}
.adbody {
  width: 100%;
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
  
}

.adcontent {
  width: 80%;
  border: 3px solid black;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
  
}

.adcontent .adcards{
  border: 2px solid blue;
  height: 30%;
  width: 100%;
  margin: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .cards {
    display: inline;
    justify-content: center;
  }
}

 @media only screen and (max-width: 904px) {
  .cards{
      display: flex;
      flex-wrap: wrap;
    }
} 

.adcards {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .adcards {
    display: inline;
    justify-content: center;
  }
}

 @media only screen and (max-width: 840px) {
  .adcards{
      display: flex;
      flex-wrap: wrap;
    }
}
