.ui.card {
    margin: 0% auto;
    width: 100%;
    height: 100%;
    position: relative;
    top: 90px;
}
.ui.form{
    width: 70%;
    margin: 10% auto;
}

.container {
    margin: 0% auto;
    width: 50%;
    height: 50vh;
}
.ui.form button{
    width: 100%;
    
}

.form-name h3 {
    background-color: #3CBC51;
    width: 50%;
    height: auto;
    padding: 7px 10px;
    color: #fff;
    position: relative;
    left: -20px;
    top: 110px;
    z-index: 999;
    border-radius: 2px;
}